services:
  apps_scraper:
    build: ./
    command: python3 ./app/apps_scraper.py
    volumes:
      - ./appdata:/appdata

  dlc_scraper:
    build: ./
    command: python3 ./app/dlc_scraper.py
    volumes:
      - ./appdata:/appdata

  tags_creator:
    build: ./
    command: python3 ./app/tags_creator.py
    volumes:
      - ./appdata:/appdata

  app-details-scraper:
    build: ./
    command: python3 ./app/app-details-scraper.py
    volumes:
      - ./appdata:/appdata
    depends_on:
      apps_scraper:
        condition: service_completed_successfully
      dlc_scraper:
        condition: service_completed_successfully
      tags_creator:
        condition: service_completed_successfully

  uploader:
    build: ./
    command: python3 ./app/apps-details-prices-uploader.py
    volumes:
      - ./appdata:/appdata
    depends_on:
      apps_scraper:
        condition: service_completed_successfully
      dlc_scraper:
        condition: service_completed_successfully
      tags_creator:
        condition: service_completed_successfully
      app-details-scraper:
        condition: service_completed_successfully
